.btn-modify:hover {
    background-image: linear-gradient(110deg, #16a085 30%, #3ba5d3 70% ) !important;
    color: #fff;
    border: #16a085 solid 2px;
}
.btn-modify {
    border: #16a085 solid 2px;
    color: #16a085;
    font-weight: 500 !important;
}
.long-space {
    margin-left: 50px; 
    display: inline-block;
    color: rgb(14, 171, 145) !important;
    font-size: 1.5rem;
    font-weight: 500;
}
.highlight {
    color: #7fde92 !important;
    font-weight: 600 !important;
}
.highlight-2 {
    color: rgb(14, 171, 145) !important;
    font-weight: 600 !important;
}

.portfo_img {
    width: 60vw;
    height: 500px;
    object-fit: cover;
}
.header,
.sub-title {
    color: transparent !important;
    background-color: #f4d03f !important;
    background-image: linear-gradient(
        132deg,
        #f4d03f 18%,
        #16a085 50%,
        #2b1717 85%
    ) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}